<template>
    <div class="spotlite"
         v-bind:class="{focused: this.focused}"
        >

        <div class="box">
            <input type="text" v-model="term"
                v-on:keyup.enter="newSearch"
                v-on:keyup.esc="clearSearch"
                v-on:keyup.up="backTermHistory"
                v-on:keyup.down="forwardTermHistory"
                v-on:focus="active"
                v-on:blur="inactive"
                />
            <p>License UUID, email or subdomain</p>
        </div>

        <div class="container">
        </div>

    </div>
</template>

<script>
export default {
    data: () => ({
        term: '',
        focused: false,
    }),
    methods: {
        newSearch() {
            if (!this.term) { return; }

            this.$store.commit('addTermToHistory', this.term);
        },
        clearSearch() {
            this.term = '';
        },
        backTermHistory() {
            this.$store.dispatch('previousTerm');
            this.term = this.$store.getters.currentHistoryTerm;
        },
        forwardTermHistory() {
            this.$store.dispatch('nextTerm');
            this.term = this.$store.getters.currentHistoryTerm;
        },
        active() {
            this.focused = true;
        },
        inactive() {
            this.focused = false;
        },
    },
    computed: {
        termHistoryIsEmpty() {
            return this.$store.getters.historyIsEmpty;
        },
        currentTermInHistory() {
          return this.$store.getters.currentHistoryTerm;
        },
    },
};
</script>

<style scoped lang="scss">

$focusDelay: 500ms;

.spotlite {

    .container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: red;
        visibility: hidden;
        opacity: 0;
        transition: all $focusDelay ease-in 50ms;
    }

    .box {

        input {
            border-radius: 10px;
            border: 1px;
            border-color: #333;
            font-size: 70px;
            color: #DDD;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
            transition: all $focusDelay ease-in 50ms;
        }

        p {
            font-style: italic;
            font-size: 12pt;
            color: rgba(0, 0, 0, 0.4);
            margin-left: 10px;
            opacity: 0;
            transition: opacity 700ms linear 150ms;
        }
    }
}

.focused {
    /*
    .container {
        visibility: visible;
        opacity: 0.8;
    }
    */

    .box {
        input {
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
            color: #999;
        }

        p {
            opacity: 1;
        }
    }
}
</style>
