<template>
  <div id="app" class="app-container">
    <Spotlite />
  </div>
</template>

<script>
import Spotlite from './components/Spotlite.vue';

export default {
  name: 'app',
  components: {
    Spotlite,
  },
};
</script>

<style lang="scss">
body {
    background-color: #EEE;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.app-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
